body {
    background:white url('../images/hypothetical-h.jpg') no-repeat right top;
}

p {
    color: black;
}

ul#projects {
    padding: 100px;
    margin: 0 auto;
    width: 600px;
    display:block;
    text-align: center;
    font-weight: bold;
}

ul#projects div p {
    font-size: 1.8em;
}

ul#projects li {
    display:block;
}