body {
	background:white url('../images/hypothetical-h.jpg') no-repeat right top;
}

p {
	color: black;
}

ul#projects {
    padding: 0;
	margin: 0 auto;
	width: 600px;
	vertical-align: center;
	display:block;
	text-align: center;
}

ul#projects div p {
	font-size: 1.8em;
}

ul#projects li {
	display:block;
}